* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

button {
    padding: 10px;
}

#rem {
    flex: 1;
}

.header {
	background: silver;
}

.edge-btns {
    display: inline-block;
    border: 1px solid grey;
    padding: 10px;
}

.edge-btns div {
    margin-top: 10px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.poly-size {
    display: inline-block;
}

.poly-size > * {
    display: block;
}
